@keyframes newAnim{
    0%{
        background-color: rgba(255, 255, 255, 1);
    }
    50%{
        background-color: rgba(255, 255, 0, 0.3);
    }
    100%{
        background-color: rgba(255, 255, 255, 1);
    }
}

html, body{
    margin: 0;
    font-family: sans-serif;
}

.btn{
    cursor: pointer;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 5px 7px;
    color: #333;
    font-weight: bold;
}

.container{
    text-align: center;
}

.card{
    display: inline-block;
    position: relative;
    width: 480px;
    padding: 15px;
    overflow: hidden;
    text-align: left;
    border-radius: 9px;
}

.card.active{
    animation: newAnim 900ms ease 3;
}

.card div:first-child{
    position: relative;
}

.btn-small{
    font-size: xx-small;
}

.card div:first-child .btn-small{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s ease;
}

.card div:first-child:hover .btn-small{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 1;
}

pre{
    position: absolute;
    left: 510px;
    top: 0;
    display: block;
    width: 500px;
    max-height: 360px;
    overflow: auto;
    background: #444;
    color: #00ff95;
    padding: 10px;
    box-sizing: border-box;
    transition: all .3s ease;
}

pre.active{
    left: 0;
}

.search-container{
    position: fixed;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    padding: 10px 20px;
    opacity: 0.3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: opacity 300ms ease;
}

.search-container:hover{
    opacity: 1;
}

.search-container input{
    border: 1px solid transparent;
}

.search-container button{
    background: transparent;
    border: 1px solid transparent;
}

.search-container input:focus, .search-container button:focus{
    outline: none;
}