@keyframes newAnim{
    0%{
        background-color: #ffffff;
    }
    50%{
        background-color: #ffff00;
    }
    100%{
        background-color: #ffffff;
    }
}

html, body{
    margin: 0
}

.btn{
    cursor: pointer;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 5px 7px;
    color: #333;
    font-weight: bold;
}

.container{
    text-align: center;
}

.card{
    display: inline-block;
    position: relative;
    width: 480px;
    padding: 10px;
    overflow: hidden;
    text-align: left;
}

.card.active{
    animation: newAnim 900ms ease 3;
}

.card div:first-child{
    position: relative;
}

.btn-small{
    font-size: xx-small;
}

.card div:first-child .btn-small{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s ease;
}

.card div:first-child:hover .btn-small{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 1;
}

pre{
    position: absolute;
    left: 500px;
    top: 0;
    display: block;
    width: 500px;
    max-height: 360px;
    overflow: auto;
    background: #444;
    color: #00ff95;
    padding: 10px;
    box-sizing: border-box;
    transition: all .3s ease;
}

pre.active{
    left: 0;
}